
<form class="form-inline">

  <div class="form-group">
    <ui-select ng-model="vm.cidade" theme="bootstrap" 
               style="width: 300px;" 
               title="Escolha uma cidade" 
               append-to-body="true"
               reset-search-input="false">

      <ui-select-match placeholder="Selecione uma cidade">{{vm.cidade.nome}}</ui-select-match>

      <ui-select-choices repeat="cidade in vm.cidades | filter: $select.search">
        <span ng-bind-html="cidade.nome | highlight: $select.search"></span>
      </ui-select-choices>

    </ui-select>

  </div>
  <div class="form-group">
    <select class="form-control" ng-model="vm.pioresOuMelhores" ng-init="vm.pioresOuMelhores = 'todas'">
      <option value="todas">Todas</option>
      <option value="melhores">5 Melhores</option>
      <option value="piores">5 Piores</option>
    </select>  
  </div>


  <button type="submit" ng-click="vm.buscaPorCidade()" class="btn btn-default" ng-disabled = "!vm.cidade">
    Buscar
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>

</form>

<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5 Piores Obras</h3>
      </div>
      <div class="panel-body">

      <table class="table table-hover">
        <caption>{{vm.cidade.nome}}</caption>
        <thead> 
          <tr> 
            <th>Destinação da Obra</th> 
            <th>Nome da Empresa Contratada</th> 
            <th>Data Início da Obra</th>
            <th>Valor Pago</th>
            <th>Detalhar</th> 
          </tr> 
        </thead> 
        <tbody ng-repeat="piorObra in vm.cincoPiores"> 
          <tr> 
            <td>{{piorObra.destinacaoObra}}</td> 
            <td>{{piorObra.nomeEmpresaContratada}}</td> 
            <td>{{piorObra.dataInicioObra}}</td> 
            <td>{{piorObra.valorTotalContratado}}</td> 
            <td><a href="">Detalhar</a></td>    
          </tr> 
        </tbody> 
      </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5 Melhores Obras</h3>
      </div>
      <div class="panel-body">

      <table class="table table-hover">
        <caption>{{vm.cidade.nome}}</caption>
        <thead> 
          <tr> 
            <th>Destinação da Obra</th> 
            <th>Nome da Empresa Contratada</th> 
            <th>Data Início da Obra</th>
            <th>Valor Pago</th>
            <th>Detalhar</th> 
          </tr> 
        </thead> 
        <tbody ng-repeat="piorObra in vm.cincoMelhores"> 
          <tr> 
            <td>{{piorObra.destinacaoObra}}</td> 
            <td>{{piorObra.nomeEmpresaContratada}}</td> 
            <td>{{piorObra.dataInicioObra}}</td> 
            <td>{{piorObra.valorTotalContratado}}</td> 
            <td><a href="">Detalhar</a></td>    
          </tr> 
        </tbody> 
      </table>
      </div>
    </div>
  </div>
</div>

</div>
