
<form class="form-inline">

  <div class="form-group">
    <select class="form-control" 
            ng-options="cidade as cidade.nome for cidade in main.cidades track by cidade.id" 
            ng-model="main.cidade">
    </select>
  </div>

  <!--
  <div class="form-group">
    <ui-select ng-model="vm.cidade" theme="bootstrap" 
               style="width: 300px;" 
               title="Escolha uma cidade" 
               append-to-body="true"
               reset-search-input="false">

      <ui-select-match placeholder="Selecione uma cidade">{{vm.cidade.nome}}</ui-select-match>

      <ui-select-choices repeat="cidade in vm.cidades | filter: $select.search">
        <span ng-bind-html="cidade.nome | highlight: $select.search"></span>
      </ui-select-choices>

    </ui-select>
  </div>
  -->

  <div class="form-group">
    <select class="form-control" ng-model="main.pioresOuMelhores" ng-init="main.pioresOuMelhores = 'todas'">
      <option value="todas">Todas</option>
      <option value="melhores">5 Melhores</option>
      <option value="piores">5 Piores</option>
    </select>  
  </div>


  <button type="submit" ng-click="main.buscar()" class="btn btn-default" ng-disabled = "!main.cidade">
    Buscar
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>

</form>

<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Obras</h3>
      </div>
      <div class="panel-body">

      <table class="table table-hover">
        <thead> 
          <tr>
            <th>Cidade</th>
            <th>Destinação da Obra</th> 
            <th>Nome da Empresa Contratada</th> 
            <th>Data Início da Obra</th>
            <th>Valor Pago</th>
            <th>Detalhar</th> 
          </tr> 
        </thead> 
        <tbody ng-repeat="obra in main.obras"> 
          <tr>
            <td>{{obra.cidade.nome}}</td>
            <td>{{obra.destinacaoObra}}</td> 
            <td>{{obra.nomeEmpresaContratada}}</td> 
            <td>{{obra.dataInicioObra}}</td> 
            <td>{{obra.valorTotalContratado}}</td> 
            <td><a href="#">Detalhar</a></td>    
          </tr> 
        </tbody> 
      </table>
      </div>
    </div>
  </div>
</div>

</div>
