
<form class="form-inline">

  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Buscar Cidade</label>

    <ui-select ng-model="vm.cidade" theme="bootstrap" 
               style="width: 300px;" 
               title="Escolha uma cidade" 
               append-to-body="true"
               reset-search-input="false">

      <ui-select-match placeholder="Selecione uma cidade">{{vm.cidade.nome}}</ui-select-match>

      <ui-select-choices repeat="cidade in vm.cidades | filter: $select.search">
        <span ng-bind-html="cidade.nome | highlight: $select.search"></span>
      </ui-select-choices>

    </ui-select>

  </div>

  <button type="submit" ng-click="vm.buscaPorCidade()" class="btn btn-default">
    Buscar
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>

</form>

<hr>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5 Melhores Obras</h3>
      </div>
      <div class="panel-body">

        <div ng-repeat="piorObra in vm.cincoPiores">
          {{piorObra.id}}
        </div>

      </div>
    </div>
  </div>

   <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5 Piores Obras</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

</div>
